@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color:white ;
    color: #000000;
}



.bdnew{
    color: #fff;
    background-color: #18181B !important;
}




.overtop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111927;
    z-index: 998;

}

.loadout {
    display: grid;
    place-items: center;
    position: fixed;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.loadout ul img:nth-child(2) {
    height: 4.8rem;
}

.loadout ul img {
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.loadout ul img:nth-child(3) {
    height: 4rem;
    transform: translateX(-1.2rem);
    animation-name: rayt;
}

.loadout ul img:nth-child(1) {
    height: 4rem;
    transform: translateX(1.5rem);
    animation-name: lep;
}

@keyframes rayt {
    0% {
        transform: translateX(0rem);
    }

    100% {
        opacity: 0;
        transform: translateX(1.5rem);
    }
}

@keyframes lep {
    0% {
        transform: translateX(0rem);
    }

    100% {
        opacity: 0;
        transform: translateX(-1.2rem);
    }
}

.lbl img {
    width: 11rem;
}

.hidden {
    display: none;
}


.ui-switch {
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}


.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}
.oberhid {
    display: none;
}

a {
    text-decoration: none;
}
 

.otnav {
    width: 100%;
}

nav {
    padding: 24px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10%;
    gap: 1rem;
}

.nav-logo img {
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    /*position: fixed;
    right: 20px;*/
}

.nav-links img {
    border-radius: 50%;
    height: 3rem;
}

.link a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-variant: small-caps;
}

.bdnew .link a{
    color: white;

}

nav ul li a::before {
    content: '';
    position: absolute;
    height: 3px;
    top: -.8rem;
    background: #a370f0;
}

nav ul li a:hover::before {
    width: 100%;
    animation-name: kiku;
    animation-iteration-count: infinite;
    animation-duration: .5s;
}

@keyframes kiku {

    0%,
    100% {}

    50% {
        top: 2rem;
    }

}

nav ul li a:hover {
    color: #a370f0;
}



.para {
    display: grid;
    place-items: center;
}
.skills .icon{
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Pagbabalot sa mga icon kung kumpleto na ang hanay */
    gap: 10px;
}

.skills .icon img {
    max-width: 50px;
    max-height: 50px;
   
  }


/* Screen size */


@media screen and (max-width:600px) {

    a {
        cursor: default;
    }

    nav {
        margin: 0 1rem;
    }

    nav .nav-links li {
        display: none;
    }

    .nav-links img {
        height: 2rem;
    }



    .content {
        width: 16rem
    }

    .hd2 h4 {
        font-size: 8rem;
    }

    .hd2 h1 {
        line-height: 3rem !important;
        font-size: 1.8rem !important;
    }

    .image img {
        height: 12rem !important;
        width: 12rem !important;
    }

    header .content p {
        width: 80% !important;
        font-size: 11px;
    }

    .container {
        margin: 1rem 0 !important;

    }

    .nav-logo img {
        height: 2.5rem;
        width: auto;
    }

    .abtus ul img {
        height: 15rem !important;

    }

    .abtus ul p {
        width: 16rem !important;
        height: 10rem !important;
    }

    p {
        font-size: 11px;
    }

    .blur {
        opacity: 30%;

    }

}

@media screen and (max-width:1370px) {
    .nav-logo img {
        height: 80px;
        width: 80px;
    }

    header .content h1 {
        font-size: 2.3rem !important;
    }

    header .content p {
        font-size: 11px;
    }
}


@media screen and (max-width:953px) {
    .content {
        text-align: center;

    }

    .bt {
        display: grid;
        place-items: center;
    }

    .hd2 {
        flex-direction: column-reverse;
    }

}


@media screen and (min-width:600px) and (max-width:669px) {
    nav {
        justify-content: space-around;
    }


}



.content {
   max-width: 38.5rem;
}

 .container {
    margin:  0;
    padding: 0;
} 


header .hd2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

header .content h1 {
    color: #000000;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
} 
.bdnew header .content h1{
    color: #fff;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
} 
 .bdnew .content h1 span {

    -webkit-text-stroke: 1px #fff;
} 

 header .content p {
    width: 100%;
    margin-bottom: 2rem;
    color: #000000;
}
.bdnew .content p{

    color: #ccc;
}

 header .image {
    display: grid;
    place-items: left;
} 

header .image img {
    height: 19rem;
    width: 15rem;

}

.blur1 {
    box-shadow: 0 0 2000px 60px blue;
    top: 50vh;
    position: absolute;
}

.blur2 {
    box-shadow: 0 0 2000px 60px blue;
    position: absolute;
    left: 50vh;
}
 


